body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    margin: 60px auto;
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

h1 {
    color: #4fc3f7;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    width: 80%;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #4fc3f7;
    color: black;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.imposter {
    color: #ff3b3b;
    font-size: 26px;
    font-weight: bold;
}

.crewmate {
    color: #4fc3f7;
    font-size: 26px;
    font-weight: bold;
}
